# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# See the documentation for more detail: https://www.prisma.io/docs/getting-started/setup-prisma/add-to-existing-project/mongodb-typescript-mongodb
DATABASE_URL="<Your MongoDB connection URL from MongoDB Atlas>"

# NEXT
NEXTAUTH_SECRET="<Your Next Auth secret>"

# Github Client: https://next-auth.js.org/providers/github
GITHUB_ID="<Your GitHub client>"
GITHUB_SECRET="<Your GitHub secret>"

# Google Client: https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID="<Your Google client>"
GOOGLE_CLIENT_SECRET="<Your Google secret>"

# Cloudinary: https://www.npmjs.com/package/next-cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloudinary Cloud Name>"
