@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/upgrade-guide#replace-variants-with-layer */
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

html,
body,
:root {
	height: 100%;
}

/* Leaftet overrides */
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
	z-index: 0 !important;
}

